*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(#2c3440,#0f172a);
    color:white;
}

.container{
    text-align:center;
}

h1{
    font-size:50px;
    margin-bottom:20px;
}

.data-atual{
    margin-bottom:20px;
    font-size:18px;
}

.calendario{
    width:400px;
    padding:20px;
    border:2px solid rgba(255,255,255,.3);
    border-radius:15px;
}

.cabecalho{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.cabecalho button{
    background:none;
    border:none;
    color:white;
    font-size:22px;
    cursor:pointer;
}

.dias-semana,
.dias{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
}

.dias-semana{
    margin-bottom:15px;
    font-weight:bold;
}

.dias div{
    padding:8px;
    border-radius:50%;
}

.hoje{
    background:white;
    color:black;
    font-weight:bold;
}
